<h2>{{project.name}} Details</h2>
<table>
    <thead>
    </thead>
    <tbody>
        <tr>
            <td><b>Status:</b></td>
            <td>{{project.status}}</td>
        </tr>
        <tr>
            <td><b>Date Created:</b></td>
            <td>{{project.date_created}}</td>
        </tr>
        <tr>
            <td><b>Deadline:</b></td>
            <td>{{project.dead_line}}</td>
        </tr>
        <tr>
            <td><b>Description:</b></td>
            <td>{{project.description}}</td>
        </tr>
        <tr>
            <td><b>Last Updation:</b></td>
            <td>{{project.upd_date}}</td>
        </tr>
        <tr>
            <td><b>Percentage of Completion:</b></td>
            <td>{{project.complete_per}}</td>
        </tr>
    </tbody>
</table>